/*-----------Example 1------------*/

#square0{
  width: 6vw;
  height: 6vw;
  background-color:red;
  border: 2px solid black;
  border-radius: 0.5vw
}

/*-----------Example 2------------*/

#square1{
  width: 6vw;
  height: 6vw;
  background-color:red;
  border: 2px solid black;
  border-radius: 0.5vw
}

/*-----------Example 3------------*/

#square2{
  width: 6vw;
  height: 6vw;
  background-color:red;
  border: 2px solid black;
  border-radius: 0.5vw
}

/*-----------Example 4------------*/

#square3{
  width: 6vw;
  height: 6vw;
  background-color:red;
  border: 2px solid black;
  border-radius: 0.5vw
}

/*-----------Example 5------------*/

#square4{
  width: 6vw;
  height: 6vw;
  background-color:red;
  border: 2px solid black;
  border-radius: 0.5vw
}

/*-----------Example 6------------*/

#square5{
  width: 6vw;
  height: 6vw;
  background-color:red;
  border: 2px solid black;
  border-radius: 0.5vw
}

/*-----------Example 7------------*/

#square6{
  width: 6vw;
  height: 6vw;
  background-color:red;
  border: 2px solid black;
  border-radius: 0.5vw
}

/*-----------Example 8------------*/

#square7{
  width: 6vw;
  height: 6vw;
  background-color:red;
  border: 2px solid black;
  border-radius: 0.5vw;
}

/*-----------Example 9------------*/

#square-a{
  width: 6vw;
  height: 6vw;
  background-color: red;
  border: 2px solid black;
  border-radius: 0.5vw;
  margin-right: 1.5vw;
  display:none;

}

#square-b{
  width: 6vw;
  height: 6vw;
  background-color: yellow;
  border: 2px solid black;
  border-radius: 0.5vw;
  margin-right: 1.5vw;
  display:none;

}

#square-c{
  width: 6vw;
  height: 6vw;
  background-color: blue;
  border: 2px solid black;
  border-radius: 0.5vw;
  display:none;
}

/*-----------Example 10-----------*/

#square9{
  width: 6vw;
  height: 6vw;
  background-color:red;
  border: 2px solid black;
  border-radius: 0.5vw;
}

/*-----------Example 11-----------*/

#square10{
  width: 6vw;
  height: 6vw;
  background-color:red;
  border: 2px solid black;
  border-radius: 0.5vw;
  justify-content: flex-end;
}

/*-----------Example 12-----------*/

#square11{
  width: 6vw;
  height: 6vw;
  background-color:red;
  border: 2px solid black;
  border-radius: 0.5vw;
  justify-content: flex-end;
}

/*-----------Example 13-----------*/

.cont-slider{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}

.header-slider{
  width: 60%;
  height: 4vh;
  background-color: #1b1c33;
  color:#fff;
  font-size: 1.5vw;
  font-family: 'arial';
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #fff;
}

.content-slider{
  width: 60%;
  height: 10vh;
  background-color: #a7f5ed;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  text-align: center;
}

#span-content{
  margin-top: 1vw;
  color:#000;
  font-size: 2.5vw;
  font-family: 'arial';
}

/*-----------Example 14-----------*/

.cont-slider-2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 90%;
}

.header-slider-2{
  width: 8vw;
  height:8vw;
  background-color: #1b1c33;
  color:#fff;
  font-size: 1.2vw;
  font-family: 'arial';
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #fff;
}

.content-slider-2{
  width: 25vw;
  height: 8vw;
  background-color: #a7f5ed;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  text-align: center;
}

#span-content-2{
  margin-top: 1vw;
  color:#000;
  font-size: 2.5vw;
  font-family: 'arial';
}

/*-----------Example 15-----------*/

.cont-buttons-3{
  display: flex;
  flex-direction: column;
  width: 10vw;
  height: 15vw;
  margin-top: 13vw;
  }

  #button-3{
  color:#242761;
  background: #f0edf0;
  border-radius: 0.5vw;
  height: 2.5vw;
  border: 2px solid #242761;
  }

.cont-box-color{
  width: 80%;
  background-size: cover;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 10vw;
  background-color:#a7f5ed;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(54,50,54,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(54,50,54,1);
  box-shadow: 10px 10px 5px 0px rgba(54,50,54,1);
}

/*-----------Example 16-----------*/

.cont-box-4{
  width: 80%;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 10vw;
  background-color:#f0edf0;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(54,50,54,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(54,50,54,1);
  box-shadow: 10px 10px 5px 0px rgba(54,50,54,1);
}

.cont-order-3 {
  width: 12%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#step-1{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#step-2{
  display: none;
}

.cont-text-step{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#span-text{
  font-family: 'Fredericka the Great', cursive;
  font-size: 5.5vw;
  color: #1b1c33;
}

.btn14{
  color: #fff;
  background: #242761;
  border-radius: 0.5vw;
  height: 2vw;
  width: 6vw;
  margin-top: -5vw;
}

.cont-loader{
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  justify-content: center;
  margin-top: 2vw;
}

.cont-bars{
  display: flex;
  width: 65%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 6vh;
}

.cont-box-progress{
  width: 100%;
  display: flex;
  height: 4vh;
}

.cont-progress{
  width: 100%;
}

.backgroundProgress {
  width: 25%;
  height: 2vw;
  background-color: #1b1c33;
  border-style: solid;
  border-width: 0.3vw;
  border-color: #1b1c33;
  border-radius: 20vw;
  position: absolute;
}

.progress {
  width: 7%;
  height: 1.5vw;
  background-color: background: #30f4ee;
  background: -moz-radial-gradient(center, ellipse cover,  #30f4ee 1%, #171063 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  #30f4ee 1%,#171063 100%);
  background: radial-gradient(ellipse at center,  #30f4ee 1%,#171063 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30f4ee', endColorstr='#171063',GradientType=1 );
  border-radius: 20vw;
  position: absolute;
}

.marker {
  width: 1.5vw;
  height: 1.5vw;
  background: #fff;
  border-radius: 20vw;
  position: absolute;
}

.contPercent{
  flex-direction: column;
}

.contPercent span{
	font-family: arial;
	font-size: 3vw;
	color: #1b1c33;
	font-weight: bold;
}
