@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Luckiest+Guy|Shrikhand');

*{
  margin: 0;
  padding: 0;
}

body{
overflow-x: hidden;
}

.portada{
width: 100%;
height: 46vw;
align-items: center;
justify-content:space-between;
display:flex;
background: #0a2833;
background: -moz-linear-gradient(top,  #0a2833 0%, #e5892d 15%, #f98831 31%, #f98831 31%, #f98831 51%, #f98831 51%, #efcf2f 80%, #efcf2f 88%, #efcf2f 90%, #f4ef84 100%);
background: -webkit-linear-gradient(top,  #0a2833 0%,#e5892d 15%,#f98831 31%,#f98831 31%,#f98831 51%,#f98831 51%,#efcf2f 80%,#efcf2f 88%,#efcf2f 90%,#f4ef84 100%);
background: linear-gradient(to bottom,  #0a2833 0%,#e5892d 15%,#f98831 31%,#f98831 31%,#f98831 51%,#f98831 51%,#efcf2f 80%,#efcf2f 88%,#efcf2f 90%,#f4ef84 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2833', endColorstr='#f4ef84',GradientType=0 );
}

.cont-site{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cont-header{
  width: 40%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display:flex;
  padding-bottom: 1vw;
  margin-top: -12vw;
  margin-left: -7vw;

}

.cont-img-island{
  width: 40%;
  display:flex;
  align-items:flex-end;
  justify-content: center;
  margin-left: -8vw;
}

#island{
  width: 30vw;
  margin-top: 1.5vw;
}

.cont-sun{
  width: 20%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20vw;
}

.sun{
  height: 123px;
  width: 198px;
  border-radius: 90px 90px 0 0;
  -moz-border-radius: 90px 90px 0 0;
  -webkit-border-radius: 90px 90px 0 0;
  background: #f4ef84;
  background: #f4ef84;
  background: -moz-radial-gradient(center, ellipse cover,  #f4ef84 0%, #efcf2f 99%);
  background: -webkit-radial-gradient(center, ellipse cover,  #f4ef84 0%,#efcf2f 99%);
  background: radial-gradient(ellipse at center,  #f4ef84 0%,#efcf2f 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4ef84', endColorstr='#efcf2f',GradientType=1 );
  margin-right: 10vw;
  margin-top: 5vw;
  box-shadow:
   0 0 0 25px rgba(255,255,0,.3),
   0 0 0 50px rgba(255,255,0,.1),
   0 0 0 75px rgba(255,255,0,.05) ;
  animation: shine 1.5s infinite;

}

@keyframes shine {
    from {
        box-shadow:
          0 0 0 0 rgba(255,255,0,.7);
    }
    to {
        box-shadow:
          0 0 0 100px rgba(255,255,0,.0);
    }
}


h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 8vw;
  color: #000;
  margin-bottom: 2vw;
  margin-top: -1vw;
}

span {
  font-family: 'Fredericka the Great', cursive;
  font-size: 2vw;
  text-align: center;
}

.cont-animation{
  width: 60%;
  height: 24vw;
  border: 0.1vw solid #000;
  background-color:#c7fdff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50vw;
  opacity: 0;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.8vw;
  flex-direction: column;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOTlmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ1ZDFmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: #4682b4;
  background: -moz-linear-gradient(top,  #4682b4 0%, #1b1c33 100%);
  background: -webkit-linear-gradient(top,  #4682b4 0%,#1b1c33 100%);
  background: linear-gradient(to bottom,  #4682b4 0%,#1b1c33 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4682b4', endColorstr='#1b1c33',GradientType=0 );
}

.cont-title-section{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cont-example{
  width: 80%;
  display: flex;
  margin-top: 4vw;
}

h2{
  font-family: 'Fredericka the Great', cursive;
  font-size: 2.5vw;
  color:#BDBDBD;
}

.cont-title{
  width: 20%;
  height: 10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

h3{
  font-family: 'Fredericka the Great', cursive;
  font-size: 2vw;
  color:#BDBDBD;
}

#subtitle{
  font-family: 'Fredericka the Great', cursive;
  font-size: 1.5vw;
  padding-top: 0.5vw;
  color:#BDBDBD;
}

.cont-box{
  width: 80%;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 10vw;
  background-color:#f0edf0;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(54,50,54,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(54,50,54,1);
  box-shadow: 10px 10px 5px 0px rgba(54,50,54,1);
}

.cont-buttons{
  display: flex;
  flex-direction: column;
  width: 5vw;
}

.cont-buttons-2{
  display: flex;
  flex-direction: column;
  width: 5vw;
}


#button{
  color:#fff;
  background: #242761;
  border-radius: 0.5vw;
  height: 2vw;
}

.button{
  margin-top: 0.5vw;
}

.cont-figure-2{
  display: flex;
  flex-direction:row;
  width: 100%;
  margin-left: 16vw;
}

.cont-order{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-order-2 {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4vw;
}

.cont-figure{
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.order{
  font-family: 'Fredericka the Great', cursive;
  font-size: 1.5vw;
  padding-right: 2vw;
}

hr{
  width: 50vw;
  height: 3px;
}
