@font-face {
    font-family: california;
    src: url(../fonts/California.ttf);
}

*{
  margin: 0;
  padding: 0;
}

.cont-site{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cont-header{
  width: 40%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display:flex;
  padding-bottom: 1vw;
}

h1 {
  font-family: 'california';
  font-size: 11vw;
  color: #000;
  margin-bottom: 2vw;
  margin-top: -1vw;
}

span {
  font-family: 'california';
  font-size: 2vw;
  text-align: center;
}

.cont-animation{
  width: 60%;
  height: 24vw;
  border: 0.1vw solid #000;
  background-color:#c7fdff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8vw;
  flex-direction: column;
}

.cont-example{
  width: 80%;
  display: flex;
  margin-bottom: 2vw;
}

.cont-title{
  width: 20%;
  height: 10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

h3{
  font-family: 'california';
  font-size: 2.5vw;
}

#subtitle{
  font-family: 'california';
  font-size: 2vw;
  padding-top: 0.5vw;
}

.cont-box{
  width: 80%;
  height: 10vw;
  display: flex;
  border: 0.1vw solid #000;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.cont-order{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-figure{
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.order{
  font-family: 'california';
  font-size: 2vw;
  padding-right: 2vw;
}

hr{
  width: 50vw;
  height: 3px;
}
